<tr>
    <td style="padding: 5px 10px;">#TRANSACTION_DATE#</td>
    <td style="padding: 5px 10px;">#TRANSACTION_NAME#</td>
    <td style="padding: 5px 10px;">#TRANSACTION_CODE#</td>
    <td style="padding: 5px 10px;">#TRANSACTION_DESCRIPTION# </td>
    <td style="padding: 5px 10px;">₦#TRANSACTION_AMOUNT# </td>
    <td style="padding: 5px 10px;">#TRANSACTION_STATUS#</td>
</tr>
