<tr>
    <td style="padding: 5px 10px;">#SUBSCRIPTION_DATE#</td>
    <td style="padding: 5px 10px;">#SUBSCRIPTION_NAME#</td>
    <td style="padding: 5px 10px;">#SUBSCRIPTION_CODE#</td>
    <td style="padding: 5px 10px;">#SUBSCRIPTION_ISSUER#</td>
    <td style="padding: 5px 10px;">₦#SUBSCRIPTION_AMOUNT#</td>
    <td style="padding: 5px 10px;">#SUBSCRIPTION_STATUS#</td>
</tr>
